
<div class="example-container mat-elevation-z8">
  <mat-list>
    <mat-list-item *ngFor="let post of result">
      <app-news [post]="post" class="line" (delete)="deleteItem($event)" ></app-news>
    </mat-list-item>
  </mat-list>