<mat-toolbar color="primary" class="container">  
    <mat-toolbar-row>
      <div>
      <span><h1 class="large">HN News</h1></span>
      <span><h3 class="small">we <3 Hackernews!</h3></span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
