@import '../../../app.component.scss';

.author{
    color:$title_clear;
}

.title{
    color:$title_time
}
  
.inline{
    display:inline-block;
    margin:5px;
}

.right{
    width:25%;
    margin-left:auto;
    float: right;
}

.right-element{
    margin-right:25%;
}

.mat-icon{
    font-size: 14px;
    align-items: center;
}

