<div class="line">
    <div class="inline"> {{post.story_title ? post.story_title : post.title}} </div>
    <div class="inline author"> -- </div>
    <div class="inline author"> {{post.author}} </div>
  <div class="inline right"> 
      <div class="inline right-element">{{post.created_at | date}} </div>
      <div class="icon inline right-element" (click)="delete(post.objectID)"><mat-icon>cancel</mat-icon></div> </div>
  </div> 
