<mat-card>
    <mat-card-title> 	Hecho por Sebastián Puentes</mat-card-title>
        <mat-card-subtitle> 	spuentesp@gmail.com</mat-card-subtitle>
        <mat-card-content>yay! mala practica: dejar strings sueltos. Sobretodo si se internacionaliza!</mat-card-content>

</mat-card>
